.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 0.1rem;

}

.card {
  position: relative;
  background-color: #F5EBE0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 3px 5px var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__image {
  width: 250px;
  height: 350px;
  border: 1px solid var(--color-black);
}

.card__title {
  font-family: "Outfit", sans-serif;
  color: var(--color-white);
  background-color: #F5EBE0;
  color: #7a6650;
  padding: 8px;
  text-align: center;
  font-weight: bold;
  border: 1px solid var(--color-black);
  border-radius: 1rem;
  width: 250px;
  font-size: 0.9rem;
  margin-top: 10px;
}


.add-to-favorites-button {
  margin: 10px auto;
  background-color: #f8d7b9;
  color: #7a6650;
  border: 1px solid var(--color-black);
  border-radius: 1rem;
  padding: 6px 12px;
  font-family: "Outfit", sans-serif;
  font-size: 0.85rem;
  cursor: pointer;
  display: flex; /* Utilisation de flexbox */
  align-items: center; /* Aligne le cœur et le texte verticalement */
  justify-content: center; /* Centre le contenu horizontalement */
  gap: 8px; /* Espace entre le cœur et le texte */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.add-to-favorites-button:hover {
  background-color: #eac9aa;
}

.add-to-favorites-button::before {
  content: "♡";
  font-size: 1.1rem;
  color: #c44c4c;
  margin-right: 0; /* Supprime la marge supplémentaire */
}
