/* Conteneur des films favoris */
.favorites-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
}

/* Contenu du film (identique à la page d'accueil) */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 0.1rem;
}

/* Carte du film */
.card {
  position: relative;
  background-color: #F5EBE0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 3px 5px var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Image du film dans la carte */
.card__image {
  width: 250px;
  height: 350px;
  border: 1px solid var(--color-black);
  object-fit: cover;
}

/* Titre du film sous l'image */
.card__title {
  font-family: "Outfit", sans-serif;
  background-color: #F5EBE0;
  color: #7a6650;
  padding: 8px;
  text-align: center;
  font-weight: bold;
  border: 1px solid var(--color-black);
  border-radius: 1rem;
  width: 250px;
  font-size: 0.9rem;
  margin-top: 10px;
}

.add-to-favorites-button {
  margin-top: 10px;
  background-color: #f8d7b9;
  color: #7a6650;
  border: 1px solid var(--color-black);
  border-radius: 1rem;
  padding: 6px 12px;
  font-family: "Outfit", sans-serif;
  font-size: 0.85rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.add-to-favorites-button:hover {
  background-color: #eac9aa;
}

.add-to-favorites-button::before {
  content: "♡";
  font-size: 1.1rem;
  color: #c44c4c;
  margin-right: 0;
}

.favorite-button-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
