.movie__trailer {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #2a2a2a;
  color: var(--color-gray);
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--color-black);
  font-family: "Outfit", sans-serif;
}

.movie__title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #c389c7; 
  text-align: left;
}


.movie__details {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
}

.movie__image {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  margin: 20px 0px;

}

.movie__image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie__info {
  display: flex;
  flex-direction: column;
}

.movie__synopsis {
  color: var(--color-white);
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.movie__trailer p {
  margin: 10px 0;
  font-size: 1rem;
}

.movie__trailer strong {
    color: #c389c7;
}

#movie__video__container {
  margin-top: 30px;
}

#movie__video__container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.movie__video {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 8px;
}

.info-box {
  display: inline-block;
  background-color: #2a2a2a;
  padding: 8px 12px;
  border-radius: 10px;
  margin: 6px 0;
  font-size: 1rem;
  color: var(--color-white);
  box-shadow: 0 2px 4px var(--color-black);
}



/* Responsive tweaks */
@media screen and (max-width: 600px) {
  .movie__title {
    font-size: 1.5rem;
  }

  .movie__synopsis,
  .movie__trailer p {
    font-size: 0.95rem;
  }
}
