
<div class="movie__trailer">
  <div id="movie__video__container">

    <iframe 
    class="movie__video" src="{{movieTrailerUrl}}" width="560" height="415" frameborder="0" allowfullscreen 
    title="Trailer de {{ movieTitle }}" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
  </iframe>

  
  <div class="movie__details">
    <img class="movie__image"
    src="https://mmi.unilim.fr/~pinardel2/SAE2.03-Pinardel/server/images/{{image}}"
    alt="Affiche du film" />
    <div class="movie__info">
      <h2 class="movie__title">{{movieTitle}}</h2>
      <p><strong>Synopsis :</strong> <span class="movie__synopsis">{{movieSynopsis}}</span></p>
      <p><span class="info-box"><strong>Réalisateur :</strong> {{movieDirector}}</span></p>
      <p><span class="info-box"><strong>Année de sortie :</strong> {{movieYear}}</span></p>
      <p><span class="info-box"><strong>Catégorie :</strong> {{movieCategory}}</span></p>
      <p><span class="info-box"><strong>Restrictions d'âge :</strong> {{movieAgeRestriction}}</span></p>
      </div>
    </div>
      
    </div>
  </div>

