.addfilm {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: var(--color-form-bg);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addfilm__title {
  font-family: var(--ff-serif);
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-black-light);
  margin-bottom: 15px;
}

.addfilm__form {
  display: flex;
  flex-direction: column;
}

.addfilm__form input,
.addfilm__form select,
.addfilm__form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-form-border);
  border-radius: 5px;
  font-size: 16px;
}

.addfilm__form input:focus,
.addfilm__form select:focus {
  border-color: var(--color-form-focus);
  outline: none;
  box-shadow: 0 0 5px var(--color-form-focus-shadow);
}

.addfilm__form select {
  background: var(--color-white);
  cursor: pointer;
}

.addfilm__form button {
  background-color: var(--color-form-button-bg);
  color: var(--color-white);
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.addfilm__form button:hover {
  background-color: var(--color-form-button-hover);
}