:root {
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(210, 17%, 95%);
  --color-gray: hsl(0, 0%, 80%);
  --color-gray-dark: hsl(0, 0%, 20%);
  --color-primary: hsl(211, 100%, 50%);
  --color-primary-dark: hsl(211, 100%, 35%);
}

.addfilm {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: var(--color-gray-light);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addfilm__title {
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-gray-dark);
  margin-bottom: 15px;
}

.addfilm__form {
  display: flex;
  flex-direction: column;
}

.addfilm__form input,
.addfilm__form select,
.addfilm__form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  font-size: 16px;
}

.addfilm__form input:focus,
.addfilm__form select:focus {
  border-color: var(--color-primary);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.addfilm__form select {
  background: var(--color-white);
  cursor: pointer;
}

.addfilm__form button {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.addfilm__form button:hover {
  background-color: var(--color-primary-dark);
}