.category__section{
  margin-bottom: 3rem;
  font-family: "Outfit", sans-serif;
}

.category__title{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color-black);
}

.category__list{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}