.category__section{
  margin-bottom: 3rem;
  font-family: "Outfit", sans-serif;
  color: var(--color-black);
}

.category__title {
  background-color: #c389c7;
  padding: 1rem;
  max-width:max-content;
  font-size: 2rem;
  font-weight: bold;
  color: #2a2a2a;
  border-radius: 2rem;
}

.category__list{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 768px) {
  /* Section de catégorie */
  .category__section {
    width: 90%;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 0.9rem;
  }

  /* Titre de catégorie */
  .category__title {
    font-size: 1.5rem;
    padding: 0.8rem;
    max-width: 100%;
    text-align: center;
  }

  /* Liste de catégories */
  .category__list {
    flex-direction: column;
    gap: 0.5rem;
  }
}
