.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  color: var(--color-black);
  background-color: #D5BDAF;
  font-family: "Outfit", sans-serif;

  .navbar font-sans-serif {
    font-family: "Outfit", sans-serif;
  }

  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    color: #7a6650;
    font-weight: bold;
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }
}

.navbar__profiles {
  display: flex;
  align-items: center;
}

#profile-select {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-fg);
  background-color: #F5EBE0;
  color: #7a6650;
  font-weight: bold;
  cursor: pointer;
}

.profile__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 1rem;
  object-fit: cover;
  border: 2px solid var(--color-fg);
}