<nav class="navbar font-sans">
  <div class="navbar__container">

    <!-- Burger menu -->
    
    <!-- Logo -->
    <div class="navbar__section navbar__left">
      <div class="navbar__logo">
        <img src="../server/images/logo.png" alt="Logo" class="navbar__logo-img">
      </div>
    </div>
    
    <!-- Desktop nav -->
    <div class="navbar__section navbar__center">
      <ul class="navbar__list">
        <li class="navbar__item active" onclick="{{hHome}}">Home</li>
        <li class="navbar__item" onclick="{{hAbout}}">About</li>
        <li class="navbar__item" onclick="C.showFavorites(C.getSelectedProfileId())">My favorites</li>
      </ul>
    </div>
    
    <!-- Right section -->
    <div class="navbar__section navbar__right">
      <div class="search-overlay" style="display: none;">
        <div class="search-bar">
          <div class="search-icon" onclick="C.searchMovies()">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill="white" d="M21.53 20.47L16.94 15.88A7.94 7.94 0 1015.88 16.94l4.59 4.59a.75.75 0 101.06-1.06zM4 10a6 6 0 1112 0 6 6 0 01-12 0z"/>
            </svg>
          </div>
          <input type="text" placeholder="Search" id="searchKeyword" onkeydown="if(event.key === 'Enter')" />
        </div>
        <span class="search-close" onclick="C.toggleSearchBar()">✕ Close</span>
      </div>
      <div class="navbar__search-icon" onclick="C.toggleSearchBar()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 16.5C14.0376 16.5 16.5 14.0376 16.5 11C16.5 7.96243 14.0376 5.5 11 5.5C7.96243 5.5 5.5 7.96243 5.5 11C5.5 14.0376 7.96243 16.5 11 16.5Z" stroke="white"/>
          <path d="M15 15L19 19" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>          
        <span>Search</span>
      </div>
      <div class="burger">☰</div>
    </div>
    
    
    
      <!-- Profile dropdown -->
      <div class="navbar__login" onclick="C.toggleProfileSelect(event)">
        <img id="profile__image" src="../server/images/{{image}}" alt="Avatar" style="display: none;">
        <div class="navbarprofile-select" style="display: none;">
          <select class="navbar__profile-select" onclick="event.stopPropagation()" onchange="C.handlerProfileSelect(this)">
            <option value="">Choisir un profil</option>
            {{profileOptions}}
          </select>
        </div>
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 1C5.477 1 1 5.477 1 11C1 16.523 5.477 21 11 21C16.523 21 21 16.523 21 11C21 5.477 16.523 1 11 1Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3.27148 17.346C3.27148 17.346 5.50048 14.5 11.0005 14.5C16.5005 14.5 18.7305 17.346 18.7305 17.346M11.0005 11C11.7961 11 12.5592 10.6839 13.1218 10.1213C13.6844 9.55871 14.0005 8.79565 14.0005 8C14.0005 7.20435 13.6844 6.44129 13.1218 5.87868C12.5592 5.31607 11.7961 5 11.0005 5C10.2048 5 9.44177 5.31607 8.87916 5.87868C8.31655 6.44129 8.00048 7.20435 8.00048 8C8.00048 8.79565 8.31655 9.55871 8.87916 10.1213C9.44177 10.6839 10.2048 11 11.0005 11Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
        <span>Login</span>
      </div>
    </div>
  </div>

  <!-- Mobile nav -->
  <div class="mobile-nav hidden" id="mobileNavDropdown">
    <ul class="mobile-nav__list">
      <li class="navbar__item active" onclick="{{hHome}}">Home</li>
      <li class="navbar__item" onclick="{{hAbout}}">About</li>
      <li class="navbar__item" onclick="C.showFavorites(C.getSelectedProfileId())">My favorites</li>

      <li class="navbar__item" onclick="C.toggleProfileSelect(event)">
        <span>Login</span>
        <div class="navbarprofile-select" style="display: none;" onclick="event.stopPropagation()">
          <select class="navbar__profile-select" onchange="C.handlerProfileSelect(this)">
            <option value="">Choisir un profil</option>
            {{profileOptions}}
          </select>
        </div>
      </li>
      
      <li class="navbar__item" onclick="C.toggleMobileMenu()">✕ Close</li>
    </ul>
  </div>
</nav>
