.comments-container {
  margin: 20px auto; 
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #2a2a2a;
  width: 80%; 
  max-width: 600px; 
}

.comments-container h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #c389c7;
}

.comments-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.comments-container li {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.comments-container li:last-child {
  border-bottom: none;
}

.comments-container strong {
  font-weight: bold;
  color: #c389c7;
}

.comment-date {
  color: #888; 
  font-size: 0.9em; 
}

.comments-container p {
  margin: 5px 0 0;
  color: #ffffff;
}

.comments-container textarea {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

.comments-container button {
  margin: 10px auto; 
  padding: 10px 15px;
  font-weight: bold;
  background-color: #c389c7;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  display: block;
}

.comments-container button:hover {
  background-color: rgb(144, 84, 133);
}

@media (max-width: 768px) {
  /* Conteneur des commentaires */
  .comments-container {
    width: 95%; 
    padding: 10px;
    margin: 10px auto;
  }

  /* Titre des commentaires */
  .comments-container h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  /* Liste des commentaires */
  .comments-container ul {
    gap: 10px;
  }

  .comments-container li {
    padding: 8px;
  }

  /* Texte des commentaires */
  .comments-container p {
    font-size: 0.9em;
    margin: 5px 0;
  }

  /* Champ de texte pour les commentaires */
  .comments-container textarea {
    height: 70px;
    font-size: 0.9em;
  }

  /* Bouton pour envoyer les commentaires */
  .comments-container button {
    padding: 8px 12px;
    font-size: 0.9em;
  }
}
