.movieSearch {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: var(--color-gray-light);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#searchMovies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.movieSearch__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.movieSearch__form input {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.movieSearch__form input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.movieSearch__form button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.movieSearch__form button:hover {
  background-color: var(--color-primary-dark);
}

.movieSearch__results {
  margin-top: 20px;
}

.movieSearch__card {
  font-family: "Outfit", sans-serif;
  background: var(--color-white);
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movieSearch__card h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-gray-dark);
  margin-bottom: 10px;
}

.movieSearch__card p {
  font-size: 14px;
  color: var(--color-gray-text);
  margin-bottom: 10px;
}

.movieSearch__card button {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  padding: 8px 12px;
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#searchKeyword {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-gray);
}

.movieSearch__buttonresearch {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}